<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accounts</key>
	<dict>
		<key>2fa</key>
		<dict>
			<key>value</key>
			<string>2FA code</string>
		</dict>
		<key>2fa_description</key>
		<dict>
			<key>value</key>
			<string>The 2FA code can be used if the website offers the possibility to add a one-time password as a second authentication factor.</string>
		</dict>
		<key>account_details</key>
		<dict>
			<key>value</key>
			<string>Accounts details</string>
		</dict>
		<key>add_2fa</key>
		<dict>
			<key>value</key>
			<string>Add 2FA code</string>
		</dict>
		<key>add_2fa_code</key>
		<dict>
			<key>value</key>
			<string>Add 2FA-code to</string>
		</dict>
		<key>add_an_account</key>
		<dict>
			<key>value</key>
			<string>Add an account</string>
		</dict>
		<key>add_instructions</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>Go to a website on your computer and login as you’d normally do.</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>Keyn will automatically ask you to save the password. This will securely send the password to this phone.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Keyn will store the password on your phone. Next time you want to login, you can use Keyn.</string>
			</dict>
		</dict>
		<key>adding_account</key>
		<dict>
			<key>value</key>
			<string>Adding an account</string>
		</dict>
		<key>alternative_add</key>
		<dict>
			<key>value</key>
			<string>Alternatively, you can add an account manually.</string>
		</dict>
		<key>choose</key>
		<dict>
			<key>value</key>
			<string>Choose an account to fill the credentials.</string>
		</dict>
		<key>code</key>
		<dict>
			<key>value</key>
			<string>Code</string>
		</dict>
		<key>copied</key>
		<dict>
			<key>comment</key>
			<string>Show the user that a value has been copied</string>
			<key>value</key>
			<string>Copied</string>
		</dict>
		<key>delete_account</key>
		<dict>
			<key>value</key>
			<string>Delete account</string>
		</dict>
		<key>didnt_save</key>
		<dict>
			<key>value</key>
			<string>You didn’t save any of your accounts just yet.</string>
		</dict>
		<key>enabled</key>
		<dict>
			<key>value</key>
			<string>Enabled</string>
		</dict>
		<key>footer</key>
		<dict>
			<key>value</key>
			<string>You can save up to 8 accounts in your free Keyn plan. Upgrade to Keyn Premium to save more.</string>
		</dict>
		<key>footer_account_enabled</key>
		<dict>
			<key>value</key>
			<string>You can enable 8 accounts to use with your computer. Upgrade to Keyn Premium to log in with more.</string>
		</dict>
		<key>footer_account_overflow</key>
		<dict>
			<key>value</key>
			<string>Only 8 accounts can be used to log in to your computer. Upgrade to Keyn Premium to log in with more.</string>
		</dict>
		<key>footer_unlimited</key>
		<dict>
			<key>value</key>
			<string>You can save as many accounts as you want.</string>
		</dict>
		<key>how_to_add</key>
		<dict>
			<key>value</key>
			<string>How to add an account</string>
		</dict>
		<key>mode</key>
		<dict>
			<key>value</key>
			<string>Mode</string>
		</dict>
		<key>mode_description</key>
		<dict>
			<key>value</key>
			<string>Codes can either be time-based or counter-based</string>
		</dict>
		<key>my_accounts</key>
		<dict>
			<key>value</key>
			<string>My accounts</string>
		</dict>
		<key>name</key>
		<dict>
			<key>value</key>
			<string>Name</string>
		</dict>
		<key>password</key>
		<dict>
			<key>value</key>
			<string>Password</string>
		</dict>
		<key>report</key>
		<dict>
			<key>value</key>
			<string>Report</string>
		</dict>
		<key>scan_2fa</key>
		<dict>
			<key>value</key>
			<string>Scan the QR code to add the 2FA code for</string>
		</dict>
		<key>scan_qr</key>
		<dict>
			<key>comment</key>
			<string>Cell title for scanning qr code for OTP</string>
			<key>value</key>
			<string>Scan QR</string>
		</dict>
		<key>secret</key>
		<dict>
			<key>value</key>
			<string>Secret</string>
		</dict>
		<key>secret_description</key>
		<dict>
			<key>value</key>
			<string>The secret that was shared by the website</string>
		</dict>
		<key>sites_header</key>
		<dict>
			<key>value</key>
			<string>Websites</string>
		</dict>
		<key>time_based</key>
		<dict>
			<key>value</key>
			<string>Time-based</string>
		</dict>
		<key>two_fa_instruction</key>
		<dict>
			<key>comment</key>
			<string>Instruct the user to scan a 2FA-code</string>
			<key>value</key>
			<string>Scan the QR-code to add the 2FA-code for</string>
		</dict>
		<key>update_2fa_code</key>
		<dict>
			<key>value</key>
			<string>Update 2FA-code for</string>
		</dict>
		<key>upgrade</key>
		<dict>
			<key>value</key>
			<string>Upgrade</string>
		</dict>
		<key>url</key>
		<dict>
			<key>value</key>
			<string>URL</string>
		</dict>
		<key>url_warning</key>
		<dict>
			<key>value</key>
			<string>⚠️ Keyn doesn't work if the URL is incorrect.</string>
		</dict>
		<key>user_details</key>
		<dict>
			<key>value</key>
			<string>User details</string>
		</dict>
		<key>username</key>
		<dict>
			<key>value</key>
			<string>Username</string>
		</dict>
		<key>website_details</key>
		<dict>
			<key>value</key>
			<string>Website details</string>
		</dict>
	</dict>
	<key>backup</key>
	<dict>
		<key>check_text</key>
		<dict>
			<key>value</key>
			<string>To make sure everything was written down correctly, please enter te following words from your paper to continue</string>
		</dict>
		<key>complete</key>
		<dict>
			<key>value</key>
			<string>Complete</string>
		</dict>
		<key>explanation</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>Keyn keeps your passwords in a safe and only your phone has the key.</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>So if your phone gets lost or stolen, you need a backup, something that's not on your phone.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Words are easy to write down, but one word wouldn't be secure, so we're giving you 12. Write them down and store them in a safe place.</string>
			</dict>
		</dict>
		<key>final_check</key>
		<dict>
			<key>value</key>
			<string>One final check</string>
		</dict>
		<key>great</key>
		<dict>
			<key>value</key>
			<string>Great! Now store your paper backup in a safe place</string>
		</dict>
		<key>if_stolen</key>
		<dict>
			<key>value</key>
			<string>If your phone gets lost or stolen, you can recover all your accounts by entering the words on your new phone.</string>
		</dict>
		<key>next</key>
		<dict>
			<key>value</key>
			<string>Next</string>
		</dict>
		<key>please_write_down</key>
		<dict>
			<key>value</key>
			<string>Please write down</string>
		</dict>
		<key>previous</key>
		<dict>
			<key>value</key>
			<string>Previous</string>
		</dict>
		<key>retrieve</key>
		<dict>
			<key>value</key>
			<string>Retrieve paper backup</string>
		</dict>
		<key>return_to_settings</key>
		<dict>
			<key>value</key>
			<string>Return to settings</string>
		</dict>
		<key>start_backup</key>
		<dict>
			<key>value</key>
			<string>Start backing up</string>
		</dict>
		<key>the</key>
		<dict>
			<key>comment</key>
			<string>For the word 'word'</string>
			<key>value</key>
			<string>the</string>
		</dict>
		<key>what_if</key>
		<dict>
			<key>start</key>
			<integer>24</integer>
			<key>value</key>
			<string>What if your phone gets lost or stolen?</string>
		</dict>
		<key>word</key>
		<dict>
			<key>comment</key>
			<string>The word for word</string>
			<key>value</key>
			<string>word</string>
		</dict>
		<key>word_is</key>
		<dict>
			<key>value</key>
			<string>word is</string>
		</dict>
	</dict>
	<key>date_components</key>
	<dict>
		<key>ago</key>
		<dict>
			<key>value</key>
			<string>ago</string>
		</dict>
		<key>day</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>Tomorrow</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>Yesterday</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>days</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>day</string>
			</dict>
		</dict>
		<key>hour</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>In an hour</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>An hour ago</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>hours</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>hour</string>
			</dict>
		</dict>
		<key>in</key>
		<dict>
			<key>value</key>
			<string>in</string>
		</dict>
		<key>just_now</key>
		<dict>
			<key>value</key>
			<string>Just now</string>
		</dict>
		<key>less_than_minute</key>
		<dict>
			<key>value</key>
			<string>Less than a minute ago</string>
		</dict>
		<key>minute</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>In a minute</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>A minute ago</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>minutes</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>minute</string>
			</dict>
		</dict>
		<key>month</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>Next month</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>Last month</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>months</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>month</string>
			</dict>
		</dict>
		<key>second</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>Just now</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>Just now</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>seconds</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>second</string>
			</dict>
		</dict>
		<key>week</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>Next week</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>Last week</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>weeks</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>week</string>
			</dict>
		</dict>
		<key>year</key>
		<dict>
			<key>future_singular</key>
			<dict>
				<key>value</key>
				<string>Next year</string>
			</dict>
			<key>past_singular</key>
			<dict>
				<key>value</key>
				<string>Last year</string>
			</dict>
			<key>plural_unit</key>
			<dict>
				<key>value</key>
				<string>years</string>
			</dict>
			<key>singular_unit</key>
			<dict>
				<key>value</key>
				<string>year</string>
			</dict>
		</dict>
	</dict>
	<key>devices</key>
	<dict>
		<key>devices</key>
		<dict>
			<key>comment</key>
			<string>Section title for devices</string>
			<key>value</key>
			<string>devices</string>
		</dict>
		<key>footer</key>
		<dict>
			<key>value</key>
			<string>You can pair with as many devices as you want.</string>
		</dict>
		<key>no_push_warning_text</key>
		<dict>
			<key>value</key>
			<string>But you can only use Keyn to log in to other devices if  you enable push notifications.

You can allow Keyn to send notifications via Settings &gt; Keyn &gt; Notifications.

Choose 'Allow Notifications' under 'Notifications'.</string>
		</dict>
		<key>no_push_warning_title</key>
		<dict>
			<key>begin</key>
			<integer>17</integer>
			<key>end</key>
			<integer>21</integer>
			<key>value</key>
			<string>We don't want to push you...</string>
		</dict>
		<key>on</key>
		<dict>
			<key>value</key>
			<string>on</string>
		</dict>
		<key>open_settings</key>
		<dict>
			<key>value</key>
			<string>Open settings</string>
		</dict>
		<key>pair_with_device</key>
		<dict>
			<key>value</key>
			<string>Pair with your device</string>
		</dict>
		<key>paired_devices</key>
		<dict>
			<key>value</key>
			<string>My paired devices</string>
		</dict>
		<key>pairing</key>
		<dict>
			<key>value</key>
			<string>Pairing</string>
		</dict>
		<key>pairing_explanation</key>
		<dict>
			<key>first</key>
			<dict>
				<key>end</key>
				<integer>17</integer>
				<key>start</key>
				<integer>6</integer>
				<key>value</key>
				<string>Go to keyn.app/go on your computer</string>
			</dict>
			<key>fourth</key>
			<dict>
				<key>value</key>
				<string>After installing Keyn in your browser, you'll see a QR code appear. Scan it to finish the setup!</string>
			</dict>
			<key>second</key>
			<dict>
				<key>end</key>
				<integer>98</integer>
				<key>start</key>
				<integer>87</integer>
				<key>value</key>
				<string>To start using Keyn, you need to install Keyn in your browser. You do this by visiting keyn.app/go on your computer.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Scan QR code</string>
			</dict>
		</dict>
		<key>pairing_instruction</key>
		<dict>
			<key>comment</key>
			<string>Instruction shown above the qr-code scanner</string>
			<key>value</key>
			<string>Open the Keyn browser extension to display QR-code.</string>
		</dict>
		<key>pairing_instruction_two</key>
		<dict>
			<key>start</key>
			<integer>104</integer>
			<key>value</key>
			<string>Scan the QR code that appears in the top right corner of your browser after installing the extension on keyn.app/go</string>
		</dict>
		<key>scan_qr</key>
		<dict>
			<key>comment</key>
			<string>Cell title for scanning qr code</string>
			<key>value</key>
			<string>Scan QR</string>
		</dict>
	</dict>
	<key>errors</key>
	<dict>
		<key>add_otp</key>
		<dict>
			<key>value</key>
			<string>Error adding OTP token</string>
		</dict>
		<key>api_error</key>
		<dict>
			<key>comment</key>
			<string>An error thrown by the API</string>
			<key>value</key>
			<string>A network error occured</string>
		</dict>
		<key>authentication_error</key>
		<dict>
			<key>comment</key>
			<string>Error in the authentication process to the phone, e.g. TouchID</string>
			<key>value</key>
			<string>Authentication error</string>
		</dict>
		<key>camera_denied</key>
		<dict>
			<key>value</key>
			<string>You can only pair with a computer when camera is enabled. You can do this in Settings.</string>
		</dict>
		<key>corrupted_data</key>
		<dict>
			<key>value</key>
			<string>Unreadable data error</string>
		</dict>
		<key>delete_url</key>
		<dict>
			<key>comment</key>
			<string>Error deleting url</string>
			<key>value</key>
			<string>Error deleting URL</string>
		</dict>
		<key>deleting</key>
		<dict>
			<key>value</key>
			<string>Error deleting backup data</string>
		</dict>
		<key>deleting_account</key>
		<dict>
			<key>value</key>
			<string>Error deleting account</string>
		</dict>
		<key>failed_accounts_message</key>
		<dict>
			<key>value</key>
			<string>Keyn was unable to restore %d of the %d accounts.</string>
		</dict>
		<key>failed_accounts_title</key>
		<dict>
			<key>value</key>
			<string>Recovery error</string>
		</dict>
		<key>generic_error</key>
		<dict>
			<key>comment</key>
			<string>A generic error description</string>
			<key>value</key>
			<string>An error occured.</string>
		</dict>
		<key>generic_problem</key>
		<dict>
			<key>comment</key>
			<string>A generic problem description</string>
			<key>value</key>
			<string>There was a problem</string>
		</dict>
		<key>local_authentication</key>
		<dict>
			<key>biometry_not_available</key>
			<dict>
				<key>value</key>
				<string>Authentication could not start, because biometry is not available on the device.</string>
			</dict>
			<key>biometry_not_enrolled</key>
			<dict>
				<key>value</key>
				<string>Authentication could not start, because biometry has no enrolled identities.</string>
			</dict>
			<key>generic</key>
			<dict>
				<key>value</key>
				<string>An authentication error occurred.</string>
			</dict>
			<key>passcode_not_set</key>
			<dict>
				<key>value</key>
				<string>Authentication could not start, because passcode is not set on the device.</string>
			</dict>
		</dict>
		<key>no_camera</key>
		<dict>
			<key>comment</key>
			<string>The camera is not available</string>
			<key>value</key>
			<string>Camera not available</string>
		</dict>
		<key>no_push_notifications</key>
		<dict>
			<key>comment</key>
			<string>Error when push notifications are not available</string>
			<key>value</key>
			<string>Unfortunately, Keyn doesn't work without push notifications :(

Turn them on if you want to use Keyn. You can do this in Settings &gt; Keyn &gt; Notifications.</string>
		</dict>
		<key>otp_fetch</key>
		<dict>
			<key>comment</key>
			<string>Error retrieving the OTP-code</string>
			<key>value</key>
			<string>Error retrieving the OTP-code</string>
		</dict>
		<key>password_error</key>
		<dict>
			<key>comment</key>
			<string>Error fetching password</string>
			<key>value</key>
			<string>Error fetching password</string>
		</dict>
		<key>push_notifications_error</key>
		<dict>
			<key>comment</key>
			<string>Error when push notifications are not available</string>
			<key>value</key>
			<string>There was an error registering for push notifications.</string>
		</dict>
		<key>qr_scanned_twice</key>
		<dict>
			<key>comment</key>
			<string>This QR-code was already scanned.</string>
			<key>value</key>
			<string>This QR-code was already scanned.</string>
		</dict>
		<key>save_account</key>
		<dict>
			<key>comment</key>
			<string>Error saving account</string>
			<key>value</key>
			<string>Error saving account</string>
		</dict>
		<key>seed_creation</key>
		<dict>
			<key>comment</key>
			<string>This may occur during the initialisation process</string>
			<key>value</key>
			<string>Error generating seed</string>
		</dict>
		<key>seed_exists</key>
		<dict>
			<key>value</key>
			<string>Keyn already initialized</string>
		</dict>
		<key>seed_restore</key>
		<dict>
			<key>value</key>
			<string>Error restoring backup</string>
		</dict>
		<key>session_error_no_endpoint</key>
		<dict>
			<key>comment</key>
			<string>There was no endpoint found</string>
			<key>value</key>
			<string>There is no AWS endpoint in the session data.</string>
		</dict>
		<key>session_invalid</key>
		<dict>
			<key>value</key>
			<string>This QR-code is invalid</string>
		</dict>
		<key>subscribing</key>
		<dict>
			<key>value</key>
			<string>Error subscribing to info notifications</string>
		</dict>
		<key>token_creation</key>
		<dict>
			<key>value</key>
			<string>Error creating OTP token</string>
		</dict>
		<key>undecodable_qr</key>
		<dict>
			<key>comment</key>
			<string>The QR-code could not be decoded.</string>
			<key>value</key>
			<string>This QR-code could not be decoded.</string>
		</dict>
		<key>unsubscribing</key>
		<dict>
			<key>value</key>
			<string>Error unsubscribing to info notifications</string>
		</dict>
	</dict>
	<key>feedback</key>
	<dict>
		<key>add_site</key>
		<dict>
			<key>value</key>
			<string>Adding site</string>
		</dict>
		<key>additional_info</key>
		<dict>
			<key>value</key>
			<string>Anything you want to add?</string>
		</dict>
		<key>change_password</key>
		<dict>
			<key>value</key>
			<string>Changing password</string>
		</dict>
		<key>feedback</key>
		<dict>
			<key>value</key>
			<string>Did you find a bug? Please let us know! We're also happy to hear your opinion on Keyn or suggestions for improvements.</string>
		</dict>
		<key>finish</key>
		<dict>
			<key>value</key>
			<string>Finish</string>
		</dict>
		<key>logging_in</key>
		<dict>
			<key>value</key>
			<string>Logging in</string>
		</dict>
		<key>next</key>
		<dict>
			<key>value</key>
			<string>Next</string>
		</dict>
		<key>no</key>
		<dict>
			<key>value</key>
			<string>No</string>
		</dict>
		<key>send</key>
		<dict>
			<key>value</key>
			<string>Send</string>
		</dict>
		<key>start</key>
		<dict>
			<key>value</key>
			<string>Start</string>
		</dict>
		<key>submit</key>
		<dict>
			<key>value</key>
			<string>Submit</string>
		</dict>
		<key>thanks</key>
		<dict>
			<key>value</key>
			<string>That was all.
Thank you!</string>
		</dict>
		<key>use_help</key>
		<dict>
			<key>value</key>
			<string>We could use your help</string>
		</dict>
		<key>what_did_not_work</key>
		<dict>
			<key>value</key>
			<string>What didn't work?</string>
		</dict>
		<key>yes</key>
		<dict>
			<key>value</key>
			<string>Yes</string>
		</dict>
	</dict>
	<key>initialization</key>
	<dict>
		<key>agree</key>
		<dict>
			<key>value</key>
			<string>Agree</string>
		</dict>
		<key>all_set_up</key>
		<dict>
			<key>value</key>
			<string>You're all set up! 🎉</string>
		</dict>
		<key>begin_passwordless</key>
		<dict>
			<key>end</key>
			<integer>29</integer>
			<key>start</key>
			<integer>17</integer>
			<key>value</key>
			<string>Let's begin your passwordless life.</string>
		</dict>
		<key>byebye</key>
		<dict>
			<key>end</key>
			<integer>40</integer>
			<key>start</key>
			<integer>30</integer>
			<key>value</key>
			<string>Bye bye forgetting passwords, hello Keyn</string>
		</dict>
		<key>change</key>
		<dict>
			<key>value</key>
			<string>You can always change this later in settings</string>
		</dict>
		<key>disagree</key>
		<dict>
			<key>value</key>
			<string>Disagree</string>
		</dict>
		<key>enable</key>
		<dict>
			<key>value</key>
			<string>Enable</string>
		</dict>
		<key>enter_words</key>
		<dict>
			<key>value</key>
			<string>Enter the words of your paper backup to recover your passwords</string>
		</dict>
		<key>face_id</key>
		<dict>
			<key>value</key>
			<string>FaceID</string>
		</dict>
		<key>finish</key>
		<dict>
			<key>value</key>
			<string>Finish</string>
		</dict>
		<key>from_today</key>
		<dict>
			<key>value</key>
			<string> on any website from now on.</string>
		</dict>
		<key>get_started</key>
		<dict>
			<key>value</key>
			<string>Let's get started</string>
		</dict>
		<key>initialize_keyn</key>
		<dict>
			<key>comment</key>
			<string>This is provided as a reason for authenticating the first time.</string>
			<key>value</key>
			<string>Initialize encrypted storage</string>
		</dict>
		<key>keyn_uses_push</key>
		<dict>
			<key>begin</key>
			<integer>18</integer>
			<key>end</key>
			<integer>26</integer>
			<key>value</key>
			<string>To log in to your computer, Keyn uses push notifications.</string>
		</dict>
		<key>learn_more</key>
		<dict>
			<key>value</key>
			<string>Learn more</string>
		</dict>
		<key>lets_go</key>
		<dict>
			<key>value</key>
			<string>Let's go!</string>
		</dict>
		<key>log_in_with</key>
		<dict>
			<key>value</key>
			<string>Log in with </string>
		</dict>
		<key>no_pushing</key>
		<dict>
			<key>begin</key>
			<integer>17</integer>
			<key>end</key>
			<integer>21</integer>
			<key>value</key>
			<string>We don't want to push you...</string>
		</dict>
		<key>one_minute_away</key>
		<dict>
			<key>end</key>
			<integer>15</integer>
			<key>start</key>
			<integer>6</integer>
			<key>value</key>
			<string>You're 1 minute away from forgetting your passwords</string>
		</dict>
		<key>recover</key>
		<dict>
			<key>value</key>
			<string>Recover from backup</string>
		</dict>
		<key>scan_qr</key>
		<dict>
			<key>value</key>
			<string>Scan QR code</string>
		</dict>
		<key>setup_keyn</key>
		<dict>
			<key>value</key>
			<string>Setup Keyn</string>
		</dict>
		<key>share_analytics</key>
		<dict>
			<key>value</key>
			<string>Share usage statistics</string>
		</dict>
		<key>share_errors</key>
		<dict>
			<key>value</key>
			<string>Share error data</string>
		</dict>
		<key>start_using_keyn</key>
		<dict>
			<key>value</key>
			<string>Start using Keyn</string>
		</dict>
		<key>touch_id</key>
		<dict>
			<key>value</key>
			<string>TouchID</string>
		</dict>
		<key>try_later</key>
		<dict>
			<key>value</key>
			<string>Try later</string>
		</dict>
		<key>welcome_text</key>
		<dict>
			<key>value</key>
			<string>Keyn allows you to log in to any website using your phone, making it safer and simpler</string>
		</dict>
		<key>working</key>
		<dict>
			<key>value</key>
			<string>You can greatly help us by sharing usage statistics and error data with us. 

Sensitive data is never shared and everything is anonymous.</string>
		</dict>
	</dict>
	<key>notifications</key>
	<dict>
		<key>accounts_from</key>
		<dict>
			<key>value</key>
			<string>%@ accounts from %@ on %@</string>
		</dict>
		<key>add_account</key>
		<dict>
			<key>value</key>
			<string>Add account</string>
		</dict>
		<key>add_accounts</key>
		<dict>
			<key>value</key>
			<string>Add accounts</string>
		</dict>
		<key>change_password</key>
		<dict>
			<key>value</key>
			<string>Change password</string>
		</dict>
		<key>end_session</key>
		<dict>
			<key>value</key>
			<string>Session ended</string>
		</dict>
		<key>fill_password</key>
		<dict>
			<key>value</key>
			<string>Fill password</string>
		</dict>
		<key>in_on</key>
		<dict>
			<key>description</key>
			<string>GitHub in Firefox on MacOS</string>
			<key>value</key>
			<string>%@ in %@ on %@.</string>
		</dict>
		<key>login</key>
		<dict>
			<key>value</key>
			<string>Login</string>
		</dict>
		<key>onboarding_reminder_message</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>You only have to pair your phone with your computer and you can log in without passwords! 🎉🎉</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>You're only one step away from logging in without passwords. 💪😃</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Connect your phone to your computer and start logging in without passwords! 🐣</string>
			</dict>
		</dict>
		<key>onboarding_reminder_title</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>Almost there!</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>What are you waiting for?</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Are you still there?</string>
			</dict>
		</dict>
		<key>pairing</key>
		<dict>
			<key>value</key>
			<string>Pair</string>
		</dict>
		<key>this_on_that</key>
		<dict>
			<key>description</key>
			<string>Chrome on MacOS</string>
			<key>value</key>
			<string>%@ on %@.</string>
		</dict>
	</dict>
	<key>numbers</key>
	<dict>
		<key>five</key>
		<dict>
			<key>value</key>
			<string>5</string>
		</dict>
		<key>four</key>
		<dict>
			<key>value</key>
			<string>4</string>
		</dict>
		<key>one</key>
		<dict>
			<key>value</key>
			<string>1</string>
		</dict>
		<key>three</key>
		<dict>
			<key>value</key>
			<string>3</string>
		</dict>
		<key>two</key>
		<dict>
			<key>value</key>
			<string>2</string>
		</dict>
	</dict>
	<key>popups</key>
	<dict>
		<key>questions</key>
		<dict>
			<key>agree_terms</key>
			<dict>
				<key>value</key>
				<string>I have read and agree to the Terms of Use of Keyn</string>
			</dict>
			<key>camera_permission</key>
			<dict>
				<key>value</key>
				<string>Permission needed</string>
			</dict>
			<key>cancel_backup</key>
			<dict>
				<key>comment</key>
				<string>Ask the user to cancel the backup</string>
				<key>value</key>
				<string>Cancel backup?</string>
			</dict>
			<key>cancel_backup_description</key>
			<dict>
				<key>comment</key>
				<string>Tell the user he can complete the backup process later</string>
				<key>value</key>
				<string>You can complete the backup sequence later.</string>
			</dict>
			<key>close_warning</key>
			<dict>
				<key>value</key>
				<string>You cannot use Keyn if you don't agree with the Terms of Use. Are you sure?</string>
			</dict>
			<key>delete_account</key>
			<dict>
				<key>comment</key>
				<string>Ask the user to delete the account</string>
				<key>value</key>
				<string>Delete account?</string>
			</dict>
			<key>delete_corrupted</key>
			<dict>
				<key>value</key>
				<string>Keyn couldn't read the data from your phone. Perhaps it's in an old format. You can probably fix this by deleting all data. If you don't want to do this, contact us at hello@keyn.app.</string>
			</dict>
			<key>delete_data</key>
			<dict>
				<key>comment</key>
				<string>Delete local and remote data</string>
				<key>value</key>
				<string>Delete data?</string>
			</dict>
			<key>delete_existing</key>
			<dict>
				<key>value</key>
				<string>You are trying to restore a backup while Keyn has already been initialized. Do you want to delete Keyn's current data?</string>
			</dict>
			<key>questionnaire_permission</key>
			<dict>
				<key>comment</key>
				<string>Ask the user to answer some questions</string>
				<key>value</key>
				<string>Do you have time to answer a few questions? It'll only take a moment.</string>
			</dict>
			<key>questionnaire_popup_title</key>
			<dict>
				<key>comment</key>
				<string>The title of the popup that asks the user fill a questionnaire</string>
				<key>value</key>
				<string>Questiontime!</string>
			</dict>
			<key>reset_keyn</key>
			<dict>
				<key>comment</key>
				<string>Resets Keyn and deletes all data</string>
				<key>value</key>
				<string>Reset Keyn?</string>
			</dict>
			<key>reset_keyn_description</key>
			<dict>
				<key>comment</key>
				<string>This will delete the seed and all passwords.</string>
				<key>value</key>
				<string>This will delete the seed and all passwords.</string>
			</dict>
			<key>restore_accounts</key>
			<dict>
				<key>value</key>
				<string>Restore accounts</string>
			</dict>
			<key>retrieve_password</key>
			<dict>
				<key>value</key>
				<string>Ontsleutel wachtwoord voor %@</string>
			</dict>
			<key>terms</key>
			<dict>
				<key>value</key>
				<string>Terms of Use</string>
			</dict>
		</dict>
		<key>responses</key>
		<dict>
			<key>cancel</key>
			<dict>
				<key>comment</key>
				<string>Cancels something</string>
				<key>value</key>
				<string>Cancel</string>
			</dict>
			<key>continue</key>
			<dict>
				<key>comment</key>
				<string>Continue something</string>
				<key>value</key>
				<string>Continue</string>
			</dict>
			<key>delete</key>
			<dict>
				<key>comment</key>
				<string>Deletes something</string>
				<key>value</key>
				<string>Delete</string>
			</dict>
			<key>no</key>
			<dict>
				<key>comment</key>
				<string>no</string>
				<key>value</key>
				<string>no</string>
			</dict>
			<key>questionnaire_deny</key>
			<dict>
				<key>comment</key>
				<string>Deny the questionnaire</string>
				<key>value</key>
				<string>No, thanks</string>
			</dict>
			<key>reset</key>
			<dict>
				<key>comment</key>
				<string>Resets something</string>
				<key>value</key>
				<string>Reset</string>
			</dict>
			<key>settings</key>
			<dict>
				<key>value</key>
				<string>Open settings</string>
			</dict>
			<key>yes</key>
			<dict>
				<key>comment</key>
				<string>yes</string>
				<key>value</key>
				<string>yes</string>
			</dict>
		</dict>
	</dict>
	<key>registration</key>
	<dict>
		<key>breach_password_found</key>
		<dict>
			<key>comment</key>
			<string>Part of sentence This password has been found in 3 breaches! You should probably change it.</string>
			<key>value</key>
			<string>This password has been found in</string>
		</dict>
		<key>change_password_footer</key>
		<dict>
			<key>comment</key>
			<string>Description for enabling changing a password</string>
			<key>value</key>
			<string>If enabled, Keyn will automatically change the password to a secure password</string>
		</dict>
		<key>change_password_impossible</key>
		<dict>
			<key>comment</key>
			<string>Description if changing a password is not possible</string>
			<key>value</key>
			<string>It's not possible to change the password for this site.</string>
		</dict>
	</dict>
	<key>requests</key>
	<dict>
		<key>account_added</key>
		<dict>
			<key>value</key>
			<string>Account added</string>
		</dict>
		<key>account_disabled</key>
		<dict>
			<key>value</key>
			<string>Account disabled</string>
		</dict>
		<key>accounts</key>
		<dict>
			<key>comment</key>
			<string>The word for 'accounts'</string>
			<key>value</key>
			<string>accounts</string>
		</dict>
		<key>accounts_added</key>
		<dict>
			<key>value</key>
			<string>accounts added</string>
		</dict>
		<key>accounts_left_1</key>
		<dict>
			<key>value</key>
			<string>You can only add</string>
		</dict>
		<key>accounts_left_2_plural</key>
		<dict>
			<key>value</key>
			<string>additional accounts</string>
		</dict>
		<key>accounts_left_2_single</key>
		<dict>
			<key>value</key>
			<string>additional account</string>
		</dict>
		<key>accounts_left_3</key>
		<dict>
			<key>value</key>
			<string>in your free Keyn plan. Upgrade to save an unlimited number of accounts</string>
		</dict>
		<key>add_account</key>
		<dict>
			<key>value</key>
			<string>Add account</string>
		</dict>
		<key>add_accounts</key>
		<dict>
			<key>value</key>
			<string>Add accounts</string>
		</dict>
		<key>add_site</key>
		<dict>
			<key>comment</key>
			<string>Ask the user to add a site, e.g. Add Amazon.com?</string>
			<key>value</key>
			<string>Add %@</string>
		</dict>
		<key>cannot_add</key>
		<dict>
			<key>value</key>
			<string>Upgrade needed</string>
		</dict>
		<key>change_for</key>
		<dict>
			<key>comment</key>
			<string>Ask the user to change a password, e.g. Change password for Amazon.com?</string>
			<key>value</key>
			<string>Change password for %@</string>
		</dict>
		<key>change_password</key>
		<dict>
			<key>value</key>
			<string>Change password</string>
		</dict>
		<key>confirm_login</key>
		<dict>
			<key>value</key>
			<string>Confirm login</string>
		</dict>
		<key>confirm_request</key>
		<dict>
			<key>value</key>
			<string>Confirm request</string>
		</dict>
		<key>expired</key>
		<dict>
			<key>value</key>
			<string>The request that was received expired. This means it was sent more than three minutes ago.</string>
		</dict>
		<key>fill_for</key>
		<dict>
			<key>comment</key>
			<string>Ask the user to fill a password, e.g. Fill password for Amazon.com?</string>
			<key>value</key>
			<string>Fill password for %@</string>
		</dict>
		<key>fill_password</key>
		<dict>
			<key>value</key>
			<string>Fill password</string>
		</dict>
		<key>fill_password_successful</key>
		<dict>
			<key>value</key>
			<string>Fill password successful</string>
		</dict>
		<key>login_keyn_next_time</key>
		<dict>
			<key>value</key>
			<string>Next time you can login with Keyn</string>
		</dict>
		<key>login_succesful</key>
		<dict>
			<key>value</key>
			<string>Login successful</string>
		</dict>
		<key>login_to</key>
		<dict>
			<key>comment</key>
			<string>Ask to the user to login to a site, e.g. Login to Amazon.com?</string>
			<key>value</key>
			<string>Login to %@</string>
		</dict>
		<key>login_with</key>
		<dict>
			<key>comment</key>
			<string>Ask to the user to login with an account, e.g. Login with demo@keyn.io?</string>
			<key>value</key>
			<string>Login with %@</string>
		</dict>
		<key>new_password_generated</key>
		<dict>
			<key>value</key>
			<string>New password generated</string>
		</dict>
		<key>no_accounts_left</key>
		<dict>
			<key>value</key>
			<string>You cannot add any more accounts in your free Keyn plan. Upgrade to save an unlimited number of accounts</string>
		</dict>
		<key>on</key>
		<dict>
			<key>comment</key>
			<string>The word for on, e.g. Pair with browser on OS?</string>
			<key>value</key>
			<string>on</string>
		</dict>
		<key>pair_with</key>
		<dict>
			<key>value</key>
			<string>Pair with</string>
		</dict>
		<key>return</key>
		<dict>
			<key>value</key>
			<string>Return</string>
		</dict>
		<key>return_to_computer</key>
		<dict>
			<key>value</key>
			<string>Return to your computer</string>
		</dict>
		<key>save</key>
		<dict>
			<key>comment</key>
			<string>Ask the user to save a site, e.g. Save Amazon.com?</string>
			<key>value</key>
			<string>Save</string>
		</dict>
		<key>to_complete_process</key>
		<dict>
			<key>value</key>
			<string>to complete the process</string>
		</dict>
		<key>unknown_request</key>
		<dict>
			<key>value</key>
			<string>Unknown request</string>
		</dict>
		<key>unlock_accounts</key>
		<dict>
			<key>comment</key>
			<string>Unlock accounts</string>
			<key>value</key>
			<string>Unlock accounts</string>
		</dict>
		<key>unlock_keyn</key>
		<dict>
			<key>comment</key>
			<string>Unlock Keyn</string>
			<key>value</key>
			<string>Unlock Keyn</string>
		</dict>
		<key>upgrade</key>
		<dict>
			<key>value</key>
			<string>Upgrade now</string>
		</dict>
		<key>upgrade_keyn_for_add</key>
		<dict>
			<key>value</key>
			<string>You can only add 8 accounts in your free Keyn plan. Upgrade to Keyn Premium to save an unlimited number of accounts</string>
		</dict>
		<key>upgrade_keyn_for_request</key>
		<dict>
			<key>value</key>
			<string>You can enable up to 8 accounts to use in your free Keyn plan. Upgrade to Keyn Premium to log in with all your accounts again</string>
		</dict>
	</dict>
	<key>settings</key>
	<dict>
		<key>about</key>
		<dict>
			<key>value</key>
			<string>About</string>
		</dict>
		<key>active</key>
		<dict>
			<key>value</key>
			<string>active</string>
		</dict>
		<key>and</key>
		<dict>
			<key>value</key>
			<string>and</string>
		</dict>
		<key>backup_completed_footer</key>
		<dict>
			<key>comment</key>
			<string>Description if backup is already completed</string>
			<key>value</key>
			<string>The paper backup is the only way to recover your accounts if your phone gets lost or broken.</string>
		</dict>
		<key>backup_not_finished</key>
		<dict>
			<key>comment</key>
			<string>Warning that the user did not finish paper backup yet</string>
			<key>value</key>
			<string>Paper backup not finished</string>
		</dict>
		<key>crossgrade_successful</key>
		<dict>
			<key>value</key>
			<string>Your new subscription will go into effect after the current subscription cycle ends</string>
		</dict>
		<key>delete_data_button</key>
		<dict>
			<key>value</key>
			<string>Delete data</string>
		</dict>
		<key>delete_data_warning</key>
		<dict>
			<key>comment</key>
			<string>Alert before deleting all data</string>
			<key>value</key>
			<string>⚠️ This will permanently delete all local and remote data. You will not be able to restore your accounts with your paper backup!</string>
		</dict>
		<key>delete_warning</key>
		<dict>
			<key>value</key>
			<string>Deleting data will permanently delete all your local and remote data. You will not be able to restore your accounts with your paper backup!</string>
		</dict>
		<key>desktop</key>
		<dict>
			<key>value</key>
			<string>Desktop</string>
		</dict>
		<key>desktop_instruction</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>Keyn asks you in your browser if you want to log in.</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>You receive a notification on your phone that asks you to authorize the request.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Keyn fills your credentials in the right fields.</string>
			</dict>
		</dict>
		<key>disclaimer</key>
		<dict>
			<key>value</key>
			<string>Payment will be charged to your Apple ID account at the confirmation of purchase. The subscription automatically renews unless it is canceled at least 24 hours before the end of the current period. Your account will be charged for renewal within 24 hours prior to the end of the current period. You can manage and cancel your subscriptions by going to your App Store account settings after purchase. By purchasing, you agree with our</string>
		</dict>
		<key>discount</key>
		<dict>
			<key>value</key>
			<string>You save 17%</string>
		</dict>
		<key>faq</key>
		<dict>
			<key>value</key>
			<string>FAQ</string>
		</dict>
		<key>feedback</key>
		<dict>
			<key>value</key>
			<string>Feedback</string>
		</dict>
		<key>feedback_description</key>
		<dict>
			<key>comment</key>
			<string>Description under feedback form</string>
			<key>value</key>
			<string>Use this form to provide feedback :)</string>
		</dict>
		<key>feedback_footer</key>
		<dict>
			<key>value</key>
			<string>Help us make Keyn better by letting us know what you think or providing suggestions for improvements.</string>
		</dict>
		<key>feedback_submitted</key>
		<dict>
			<key>comment</key>
			<string>Message to the user after feedback has been submitted</string>
			<key>value</key>
			<string>Feedback sent, thanks!</string>
		</dict>
		<key>help</key>
		<dict>
			<key>comment</key>
			<string>The word for help</string>
			<key>value</key>
			<string>Help</string>
		</dict>
		<key>how_keyn_works</key>
		<dict>
			<key>value</key>
			<string>How Keyn works</string>
		</dict>
		<key>how_keyn_works_on</key>
		<dict>
			<key>end</key>
			<integer>8</integer>
			<key>start</key>
			<integer>4</integer>
			<key>value</key>
			<string>How Keyn works on</string>
		</dict>
		<key>jailbreak_warning</key>
		<dict>
			<key>value</key>
			<string>This device appears to be jailbroken. Other applications may be able to access your passwords</string>
		</dict>
		<key>keyn_premium</key>
		<dict>
			<key>value</key>
			<string>Keyn Premium</string>
		</dict>
		<key>legal</key>
		<dict>
			<key>comment</key>
			<string>The word for legal</string>
			<key>value</key>
			<string>Legal</string>
		</dict>
		<key>mobile</key>
		<dict>
			<key>value</key>
			<string>Mobile</string>
		</dict>
		<key>mobile_instruction_&lt;iOS12</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>To log in on your phone, open Keyn.</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>Copy your password by simply tapping it.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>Return to the login fields and paste your password.</string>
			</dict>
		</dict>
		<key>mobile_instruction_iOS12</key>
		<dict>
			<key>first</key>
			<dict>
				<key>value</key>
				<string>To use Keyn on your phone, you need to tell iOS that Keyn manages your passwords.</string>
			</dict>
			<key>second</key>
			<dict>
				<key>value</key>
				<string>When you want to login, iOS will automatically ask Keyn for your password.</string>
			</dict>
			<key>third</key>
			<dict>
				<key>value</key>
				<string>You can login by authorizing the request.</string>
			</dict>
		</dict>
		<key>news_from_keyn</key>
		<dict>
			<key>value</key>
			<string>News from Keyn</string>
		</dict>
		<key>paper_backup</key>
		<dict>
			<key>value</key>
			<string>Paper backup</string>
		</dict>
		<key>premium</key>
		<dict>
			<key>value</key>
			<string>Premium</string>
		</dict>
		<key>premium_beta</key>
		<dict>
			<key>value</key>
			<string>Keyn Premium is already enabled if you're participating in the beta program</string>
		</dict>
		<key>privacy</key>
		<dict>
			<key>comment</key>
			<string>The word for privacy</string>
			<key>value</key>
			<string>Privacy</string>
		</dict>
		<key>privacy_beta_explanation</key>
		<dict>
			<key>value</key>
			<string>Usage statistics are shared automatically if you join the public beta. You can read more about it in our privacy policy and the terms and conditions of Testflight.</string>
		</dict>
		<key>privacy_explanation</key>
		<dict>
			<key>value</key>
			<string>Sharing error and analytical data will greatly help us improving Keyn. Please consider enabling it.</string>
		</dict>
		<key>privacy_policy</key>
		<dict>
			<key>value</key>
			<string>Privacy policy</string>
		</dict>
		<key>read_more</key>
		<dict>
			<key>value</key>
			<string>Read more</string>
		</dict>
		<key>reset_keyn_button</key>
		<dict>
			<key>value</key>
			<string>Reset Keyn</string>
		</dict>
		<key>reset_keyn_warning</key>
		<dict>
			<key>comment</key>
			<string>Alert before deleting local data</string>
			<key>value</key>
			<string>⚠️ Resetting Keyn will delete your local data. Make sure you have written down your paper backup.</string>
		</dict>
		<key>reset_warning</key>
		<dict>
			<key>comment</key>
			<string>Description under reset Keyn</string>
			<key>value</key>
			<string>Resetting Keyn will delete your local data, but still allow you to restore your accounts with the paper backup.</string>
		</dict>
		<key>restore_failed</key>
		<dict>
			<key>value</key>
			<string>No active subscriptions were found</string>
		</dict>
		<key>restore_successful</key>
		<dict>
			<key>value</key>
			<string>Your purchase has been restored</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>comment</key>
			<string>The word for settings</string>
			<key>value</key>
			<string>Settings</string>
		</dict>
		<key>share_analytics</key>
		<dict>
			<key>value</key>
			<string>Share analytical data</string>
		</dict>
		<key>share_errors</key>
		<dict>
			<key>value</key>
			<string>Share errors</string>
		</dict>
		<key>success</key>
		<dict>
			<key>value</key>
			<string>Success</string>
		</dict>
		<key>terms_of_use</key>
		<dict>
			<key>value</key>
			<string>Terms of use</string>
		</dict>
		<key>version</key>
		<dict>
			<key>value</key>
			<string>Version</string>
		</dict>
	</dict>
	<key>storekit</key>
	<dict>
		<key>choose_plan</key>
		<dict>
			<key>value</key>
			<string>Choose your plan</string>
		</dict>
		<key>couldNotFind</key>
		<dict>
			<key>value</key>
			<string>Could not find resource file</string>
		</dict>
		<key>deferred</key>
		<dict>
			<key>value</key>
			<string>Allow the user to continue using your app</string>
		</dict>
		<key>deliverContent</key>
		<dict>
			<key>value</key>
			<string>Deliver content for</string>
		</dict>
		<key>error</key>
		<dict>
			<key>value</key>
			<string>Error: </string>
		</dict>
		<key>failed</key>
		<dict>
			<key>value</key>
			<string>failed</string>
		</dict>
		<key>noRestorablePurchases</key>
		<dict>
			<key>value</key>
			<string>There are no restorable purchases.</string>
		</dict>
		<key>purchase</key>
		<dict>
			<key>value</key>
			<string>Purchase</string>
		</dict>
		<key>purchaseOf</key>
		<dict>
			<key>value</key>
			<string>Purchase of</string>
		</dict>
		<key>removed</key>
		<dict>
			<key>value</key>
			<string>was removed from the payment queue</string>
		</dict>
		<key>restorable</key>
		<dict>
			<key>value</key>
			<string>All restorable transactions have been processed by the payment queue</string>
		</dict>
		<key>restore_button</key>
		<dict>
			<key>value</key>
			<string>I already have Keyn Premium</string>
		</dict>
		<key>status</key>
		<dict>
			<key>value</key>
			<string>Status</string>
		</dict>
		<key>title</key>
		<dict>
			<key>value</key>
			<string>With Keyn Premium, you can add an unlimited number of accounts to Keyn.</string>
		</dict>
		<key>unknownDefault</key>
		<dict>
			<key>value</key>
			<string>Unknown payment transaction case</string>
		</dict>
		<key>updateResource</key>
		<dict>
			<key>value</key>
			<string>Update it with your product identifiers to retrieve product information</string>
		</dict>
	</dict>
	<key>tabs</key>
	<dict>
		<key>accounts</key>
		<dict>
			<key>value</key>
			<string>Accounts</string>
		</dict>
		<key>devices</key>
		<dict>
			<key>value</key>
			<string>Devices</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>value</key>
			<string>Settings</string>
		</dict>
	</dict>
	<key>urls</key>
	<dict>
		<key>faq</key>
		<dict>
			<key>value</key>
			<string>https://keyn.app/faq_raw</string>
		</dict>
		<key>jailbreak</key>
		<dict>
			<key>value</key>
			<string>https://keyn.app/faq#jailbreak</string>
		</dict>
	</dict>
</dict>
</plist>
