.DS_Store
chiff.xcodeproj/xcuserdata/*.xcuserdatad
chiff.xcodeproj/project.xcworkspace/xcuserdata/*
chiff.xcworkspace/xcuserdata/*.xcuserdatad
Pods
provisioning
vendor
fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/metadata/review_information
*.dSYM.zip
*.ipa
*.mobileprovision
*.cer
.ruby-version
.bundle/ 
.env.*

