.DS_Store
chiff.xcodeproj/xcuserdata/*.xcuserdatad
chiff.xcodeproj/project.xcworkspace/xcuserdata/*
Pods
provisioning
vendor
fastlane/report.xml
fastlane/test_output
fastlane/metadata/review_information
*.dSYM.zip
*.ipa
*.mobileprovision
*.cer
.ruby-version

