<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delete_account</key>
	<dict>
		<key>comment</key>
		<string>Ask the user to delete the account</string>
		<key>value</key>
		<string>Delete account?</string>
	</dict>
</dict>
</plist>
